<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer</title>
    <link th:href="@{/frontend-citas-medicas/src/assets/css/fragment.css}" rel="stylesheet">
</head>
<body>
<footer th:fragment="footer">
    <div>
        Total Soft Inc.
        <div class="icons">
            <img class="twitter" th:src="@{/frontend-citas-medicas/src/assets/images/twitter.svg}" alt="Twitter">
            <img class="facebook" th:src="@{/frontend-citas-medicas/src/assets/images/facebook.svg}" alt="Facebook">
            <img class="instagram" th:src="@{/frontend-citas-medicas/src/assets/images/instagram.svg}" alt="Instagram">
        </div>
        <p>&copy; 2019 Tsf, Inc.</p>
    </div>
</footer>
</body>
</html>
