<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{/css/fragment.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="left">
            <img th:src="@{/images/medical.jpg}" alt="Logo">
            <span>Medical Appointments</span>
        </div>
        <div class="right">
            <form  th:action="@{/buscar}" method="get">
                <button type="submit">Search</button>
            </form>

            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit">Login</button>
            </form>

            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/perfil}" method="get">
                <button type="submit"><span th:text="${username}"></span></button>
            </form>

            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>
</div>
</body>
</html>