<div class="appointments">
    <h2>Citas Activas</h2>
    <div th:if="${#lists.isEmpty(citasActivas)}">
        <p>No hay citasLogic activas.</p>
    </div>
    <div th:if="${!#lists.isEmpty(citasActivas)}">
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="citaLogic : ${citasActivas}">
                <td th:text="${citaLogic.fecha}"></td>
                <td th:text="${citaLogic.horaInicio}"></td>
                <td th:text="${citaLogic.horaFin}"></td>
                <td th:text="${citaLogic.estado}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
