<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Médicos</title>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

<header>
    Portal de Médicos
</header>

<nav>
    <a href="/login">Iniciar Sesión</a>
    <a href="registro.html">Registrarse</a>
    <a href="/medicos">Lista de Médicos</a>
    <a href="acercade.html">Contacto</a>
</nav>

<div class="container">
    <h1>Bienvenido al Portal de Médicos</h1>
    <p>Accede a un sistema eficiente para la gestión de médicos, citas y pacientes.</p>
    <p>Inicia sesión o regístrate para disfrutar de todos los servicios.</p>
    <!--
    <div>
        <a href="login.html" class="btn btn-login">Iniciar Sesión</a>
        <a href="registro.html" class="btn btn-register">Registrarse</a>
        <a href="medicos.html" class="btn btn-medicos">Lista de Médicos</a>
        <a href="acercade.html" class="btn btn-contacto">Acerca de...</a>
    </div>
    !-->
</div>

<footer>
    © 2025 Portal de Médicos - Todos los derechos reservados
</footer>

</body>
</html>
